.user-row {
  background-color: white;
}
.user-row:last-child td,
.user-row:last-child th {
  border: 0;
}

.user-row.highlighted {
  background-color: white;
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  from {
    background-color: orange;
  }
  to {
    background-color: white;
  }
}
